<%- include("./partials/header"); -%>
    <h1>Home</h1>
    <p>
        <%= mainContent %>
    </p>

    <% for( let item of posts) { %>    
            <h1>
                <%= item.head %>
            </h1>
            <p class="content">
                <%= item.body.split(" ").splice(0,15).join(" "); %>...
                <form action="/read"  method="post"> 
                    <button class="read" type="submit" name="blogId" value="<%=item._id%>" >Read More</button>
                </form>
               
            </p>
    <% } %>
<%- include("./partials/footer"); -%>